# ASoC core
CONFIG_SND_SOC=y

# Broadcom/RPi I2S controller
CONFIG_SND_BCM2835_SOC_I2S=y

# MAX98357A codec driver
CONFIG_SND_SOC_MAX98357A=y

# Simple audio card machine driver
CONFIG_SND_SIMPLE_CARD=y
CONFIG_SND_SIMPLE_CARD_UTILS=y