[Unit]
Description=Service for starting the clock application.
After=data-init.service

[Service]
Type=simple
WorkingDirectory=/data/clock-app
ExecStart=/usr/bin/clock-app

[Install]
WantedBy=default.target