name: Build Bee BSP

on:
    push:
      branches:
        - master
      tags:
        - '*'
jobs:

  build:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
      with:
         submodules: recursive

    - name: Build the Docker image
      run: ./build-container.sh

    - name: Build the product
      run: ./build-product.sh

    - name: Archive the product
      uses: actions/upload-artifact@v4
      with:
              name: Product
              path: /workdir/build/tmp/deploy/images/raspberrypi5/bee-image-raspberrypi5.rootfs-*.wic.bz2
